html {
    font-size: 16px;
    font-family: 'Sono', monospace, sans-serif;
}

main{
    text-align:center;
    background-color:black;
    color:#EE4747;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

/* Header */

header{
    position: fixed;
    background-color: #690000;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    margin-right: 15px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav li{
    padding: 5px;
}

nav a{
    color: #EE4747;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #6B2020;
}

.logo {
    font-family: 'Rubik Vinyl', cursive;
    text-decoration: none;
    color: #EB0000;
    font-size: 60px;
    text-shadow: 2px 2px black;
    margin-left: 20px;
}

/* Revenge Section */

.revengecontainer{
    background-image: url('img/rage.jpg');
    background-repeat: no-repeat;
    background-position:left;
    background-size:cover;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.revenge {
    background-color: #6B2020;
    padding: 25px;
    line-height: 35px;
}

.revengetext{
    font-family: 'Rubik Vinyl', cursive;
    color:#EB0000;
    text-shadow: 2px 2px black;
    font-size: 60px;
    letter-spacing:4px;
}

/* Hire */

.how {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.example {
    border: 1px solid red;
    border-radius: 15px;
    margin:0px 30px;
    height: 500px;
    width: 500px;
    padding: 15px;
}

.how img {
    max-height: 200px;
    max-width: 200px;
    padding: 15px;
}

/* Testimonials */

#testimonials {
    padding-top:15px;
    background-color: #6B2020;
    max-width: 100%;
    max-height: 60%;
}

#testimonials img {
    max-height: 500px;
    max-width: 500px;
    padding: 15px;
}

.testcontainer {
    display: flex;
    flex-wrap:wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.testbox {
    background-color:#EE4747;
    margin: 0px 1.25rem;
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color:#6B2020;
}

/* About Us */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap:wrap;
    padding: 25px;
}

#about img{
    max-height: 500px;
    max-width: 500px;
}

.aboutcontainer {
    display:flex;
    flex-wrap:wrap;
}

.person {
    padding: 15px;
    border: 1px solid red;
    margin: 0px 1.25rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}